@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h3>Edit Client info: @Html.DisplayFor(model => model.Name)</h3>
<br>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")

  <input type="submit" value="Save" />
}

<br>
<br>
<p><a href='/Clients'>View list of all Clients</a></p>
<p><a href='/'>Back to the home page</a></p>